ul {
  list-style: none;
  width: 50rem;
}

li {
  height: 200px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.albumCover {
  float: left;
  margin-right: 20px;
  height: 150px;
}

button {
  float: right;
  background: palevioletred;
  color: white;
  border: none;
  margin-top: 4.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.liked-btn {
  float: right;
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.like-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.like-button.liked {
  background-color: blue;
}